@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.imagem-fundo {
  background: linear-gradient(rgb(46, 45, 45, 0.8), rgba(0, 0, 0, 0.2)), 
  url("../fundo.png") no-repeat center center fixed;
  background-size: cover;

  height: 100vh;
  width: 100%;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}

.cabecalho-imagem {
  height: 4.5rem;
}

.cabecalho-menu {
  display: flex;
  gap: 2rem;
}

.cabecalho-menu-item {
  display: space-around;
  font-family: "Roboto", sans-serif;
  color: bisque;
  font-weight: 500;
  font-size: 1.125rem;
  justify-content: space-around;
}

.conteudo {
  margin-bottom: 3rem;
  align-items: center;
  border-top: 2px solid bisque;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-principal-escrito-titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 3.125rem;
  color: bisque;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.56rem;
  color: bisque;
}

.conteudo-principa-escrito-subititulo-referencia {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.6rem;
  color: bisque;
}

.conteudo-principal-escrito-botao {
  background-color: bisque;
  width: 6.25rem;
  height: 2.5rem;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: blue;
}

.conteudo-principal-escrito-botao:hover {
  background-color: gray;
  color: cyan;
}

.video {
  position: relative ;
  width: 100%;
  padding-bottom: 1%;
  height: 18.75rem;
}

/*.conteudo-principal-imagem {
  height: 18.75rem;
}*/

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.conteudo-secundario-titulo {
  border-top: 1px solid bisque;
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: bisque;
  margin-bottom: 1rem;
}

.conteudo-secundario-paragrafo {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: bisque;
}

.rodape {
  height: 17rem;

  padding: 2rem;
  border-top: 1px solid bisque;
  background: none;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  z-index: -2;

  background: linear-gradient(black, rgba(200, 200, 200, 0.4)),
    url("../fundo.png") no-repeat center;

  background-size: cover;
}

.rodape::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  z-index: -1;

  background: black;
  filter: opacity(0.8);
}

.rodape-imagem {
  height: 12.5rem;
  display: block;
  margin: 0 auto;

  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}
